@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

header{
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 100;
}

.containerHeader{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    
}   

.logo{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1; 
}

.logo img{
    width: 80px;
    margin-top: 10px;
    border-radius: 8px;
}

.menu{
    display: flex;
    align-items: center;
    
}

.menu nav{
    margin: 0px 50px;
    margin-right: 10px;
}

.menu nav ul{
    display: flex;
    
}

.menu nav ul li{
    list-style:none;
    margin: 20px 18px;
    
}

.menu nav ul li a{
    color: black;
    font-size: 16px;
    position: relative;
}

.menu nav ul li a:hover{
    color:crimson;
}

.btn_InicioSesion{
    display: block;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 8px;
    font-weight: 500;
    margin: 0px 10px;
    transition: all 300ms;
    
}

.btn_InicioSesion:hover{
    color: white;
    background-color:darkmagenta;
}

.btn_Registrarse{
    display: block;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 8px;
    font-weight: 500;
    margin: 0px 10px;
    transition: all 300ms;
}

.btn_Registrarse:hover{
    color: white;
    background-color:rebeccapurple;
}


.menu .search{
    margin: 0px 25px;
    
}

.menu .search a{
    margin: 0px 6px;
}

.menu .search img{
    width: 20px;
}
